---
import CallToAction from './CallToAction.astro'

const {
  showCTA = true
} = Astro.props;

const currentYear = new Date().getFullYear()
---

<footer>
  {showCTA == true ? <CallToAction /> : ''}
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - zkLocus | Private Geolocation For Web3
      </p>
    </div>
  </section>
</footer>
