---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Feature from '../../components/Feature.astro'
import ZkSafeZonesHero from '../../components/zkSafeZonesHero.astro'
import ContentMediaSmaller from '../../components/ContentMediaSmaller.astro'
import CallToActionZKSZ from '../../components/CallToActionZKSZ.astro'
---

<DefaultLayout 
title_override="zkSafeZones - Civilian Protection in Conflict Areas" 
showCTA=false
description="zkSafeZones leverages blockchain and Zero-Knowledge Proofs to enhance civilian protection in conflict zones and enable automated legal compliance, marking a new era in humanitarian technology. Built using zkLocus and the Mina Protocol."
url="https://zklocus.dev/zkSafeZones/"
image="zkSafeZones-cover.jpeg">
    <ZkSafeZonesHero>
        <span class="text-gradient">zkSafeZones:</span> Civilian Protection in Conflict Areas
    </ZkSafeZonesHero>
    
  <section class="my-40">
    <div class="container">
      <p class="text-2xl"><span class="text-gradient">zkSafeZones</span> leverages blockchain and zero-knowledge proofs to provide secure, private geolocation sharing for civilian protection in conflict zones. Implemented using <span class="text-gradient">zkLocus</span> and the <span class="text-gradient">Mina Protocol</span> blockchain, <span class="text-gradient">zkSafeZones</span> aims to reduce civilian casualties in conflict areas and ensure compliance with legal frameworks, such as the Inernational Humanitarian Law (IHL).</p>
    </div>
  </section>

  <section class="my-40">
    <div class="container">
      <h2 class="mb-16 text-6xl">✨ Key Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:map-marker-check" title="Civilian Protection">
          Enables authenicated & private reporting of civilian locations to avoid harm during conflicts. By using zkSNARKs, civilians can provide proof of their presence in a safe and anonymous way, ensuring they are not targeted during military operations.
        </Feature>
        <Feature icon="mdi:lock-check" title="Legal On-Chain Enforcement">
          <span class="text-gradient">zkSafeZones</span> enables a framework for collecting and enforcing legal evidence on-chain. This ensures compliance with international law and helps in holding parties accountable for their actions.
        </Feature>
        <Feature icon="mdi:wifi-off" title="Offline Capabilities">
          The system is designed to work without an active internet connection, using recursive zkSNARKs for compression and secure proof submissions. This allows for continuous operation even in the most constrained environments.
        </Feature>
        <Feature icon="mdi:finance" title="$ZKL Token Incentives">
          Incentivizes the collection and submission of geolocation proofs and legal evidence through a programmable value system using the <span class="text-gradient">$ZKL</span> token. This encourages participation and ensures the system's sustainability.
        </Feature>
        <Feature icon="mdi:shape-plus" title="Self-Sustainable Business Model">
          <span class="text-gradient">zkSafeZones</span> comes with a self-sustaining business model, allowing for the funding of bounties for geolocation data submission by the public. This model ensures that the system can operate independently.
        </Feature>
        <Feature icon="mdi:heart" title="Humanitarian Focus">
          Designed to address humanitarian issues, <span class="text-gradient">zkSafeZones</span> utilizes blockchain and zero-knowledge technology to protect civilians and ensure accountability in conflict zones.
        </Feature>
      </div>
    </div>
  </section>


  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">⛑️ How <span class="text-gradient">zkSafeZones</span> Works</h2>
      <ContentMediaSmaller imgSrc="../zksafezones-geolocation-proof.jpeg" alt="A simple, monochromatic illustration depicts a desert-like environment with sparse, small buildings in the background. Several groups of women and children are scattered across the scene. A woman in the foreground is looking at her phone. The image represents civilians in a conflict zone, showcasing how they can use technology to verify their location without revealing exact coordinates, emphasizing privacy and security through zero-knowledge proofs in zkSafeZones.">
        <h3>Geolocation Proofs</h3>
        <p class="text-2xl">Civilians can prove their presence within a specific area without revealing exact coordinates. This is achieved through <span class="text-gradient">zkLocus</span>, which uses zero-knowledge proofs to provide authenticated and private geolocation sharing.</p>
      </ContentMediaSmaller>
      <ContentMediaSmaller imgSrc="../zksafezones-zklocus-proof.jpeg" reverseImg={true} alt="Hand-drawn like illustration depicts a person (child) wearing a hooded jacket, kneeling in a desolate, conflict-affected area. The individual is looking at a smartphone. Above the person, a large smartphone screen displays a form or list interface, and a location pin icon is shown to the right, connected by a dotted line. In the background, there are damaged buildings and tents, with smoke rising from some structures, indicating the aftermath of conflict. The image represents the process of submitting and verifying geolocation proofs on the Mina blockchain using zkLocus, ensuring data is authenticated, integrity-assured, and transparent.">
        <h3>Proof Submission and Verification</h3>
        <p class="text-2xl">Proofs are submitted on-chain and verified through <span class="text-gradient">zkLocus</span> on the Mina blockchain. This ensures that all data is authenticated, integrity-assured and transparent, providing a reliable source of truth for geolocation data.</p>
      </ContentMediaSmaller>
      <ContentMediaSmaller imgSrc="../zksafezones-zklocus-zkl-token.jpeg" alt="A detailed, monochromatic illustration shows a scene in a conflict-affected area with simple buildings and a few armed individuals in the background. In the foreground, several children and a woman wearing headscarves are depicted smiling and holding coins with the $ZKL token symbol. The children are playing with a pile of these tokens on the ground. This image represents the incentive mechanism of zkSafeZones, where $ZKL tokens are used to reward the submission of verified geolocation proofs, encouraging active participation and the collection of legal evidence to keep the system engaged and effective.">
        <h3>Incentive Mechanism</h3>
        <p class="text-2xl">The <span class="text-gradient">$ZKL</span> token is used to reward the submission of verified geolocation proofs. This incentive mechanism encourages participation, legal evidence collection and ensures that the system remains active and engaged.</p>
      </ContentMediaSmaller>
      <ContentMediaSmaller imgSrc="../zksafezones-legal-framework-blockchain.jpeg" reverseImg={true} alt="A powerful monochromatic illustration shows a child standing in the middle of a war-torn area, with ruins of buildings and scattered debris, including bomb shells, on either side. Above the child, a large balanced scale floats, symbolizing justice. The image represents the integration of zkSafeZones with legal frameworks, highlighting how automated enforcement of international laws through smart contracts ensures compliance and accountability in conflict zones. This system aims to provide a robust legal framework for monitoring and holding parties responsible for their actions.">
        <h3>Integration with Legal Frameworks</h3>
        <p class="text-2xl"><span class="text-gradient">zkSafeZones</span> enables automated enforcement of international laws through smart contracts. This provides a robust legal framework for ensuring compliance and holding parties accountable for their actions.</p>
      </ContentMediaSmaller>
    </div>
  </section>

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">✅ Value & Benefits</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:account-group" title="Militant Groups">
          Besides civilials, <span class="text-gradient">zkSafeZones</span> allows military groups to assert their presence in or outside certain areas to avoid unnecessary attacks. This feature helps in ensuring that only relevant areas are targeted, reducing the risk of civilian harm.
        </Feature>
        <Feature icon="mdi:eye-check" title="Transparency and Accountability">
          Creates a transparent record of civilian and military activities to hold entities accountable. This ensures that all actions are traceable and verifiable, providing a reliable source of truth.
        </Feature>
        <Feature icon="mdi:handshake" title="Collaborative Efforts">
          Designed for integration with organizations like the United Nations (UN) and the International Committee of The Red Cross (ICRC). Such a collaboration helps in ensuring that the system is widely adopted and used for humanitarian purposes.
        </Feature>

        <Feature icon="mdi:cash-multiple" title="No Infrastructure Cost">
            <span class="text-gradient">zkSafeZones</span> requires minimal infrastructure and related costs, as it leverages the execution environment of the Mina Blockchain. This greatly reduces the necessary infrastructure complexity and cost, making it zero or almost zero.
        </Feature>

        <Feature icon="mdi:scale-balance" title="Comprehensive Legal Research">
            All necessary legal research has been conducted, ensuring compliance with GDPR, international humanitarian law, and the ICRC’s Handbook on Data Protection in Humanitarian Action. This thorough research underpins the legitimacy and applicability of <span class="text-gradient">zkSafeZones</span>.
          </Feature>

          <Feature icon="mdi:computer" title="Flexibility, Interoperability & Integration">
            <span class="text-gradient">zkSafeZones</span> is designed to integrate seamlessly with any blockchain, off-chain environments, and existing legacy systems. This flexibility enables the solution to be deployed in a variety of contexts, thus supporting diverse technological infrastructures and enhancing its utility across different blockchains & platforms.
          </Feature>
          
      </div>
    </div>
  </section>
  <CallToActionZKSZ />
</DefaultLayout>
